$backgroundColor: #34495e;
$headerTextColor: #bdc3c7;
$textAndHeadingColor: #bdc3c7;

$headerBackgroundColor: #2d3436; //red;

$linkTextColor: #2ecc71;
$visitedLinkTextColor: #16a085;

@import 'style_base';