$backgroundColor: #fff; //#ecf0f1;
$headerTextColor: #000000;
$textAndHeadingColor: #000000;

$headerBackgroundColor: #74b9ff;

$linkTextColor: #0000EE;
$visitedLinkTextColor: #551A8B;

@import 'style_base';