

@import 'style_base';

body {
    background-color: #34495e;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #bdc3c7; /*Text Color*/
}

a {
    color: #2ecc71;
}

a:visited {
    color: #16a085;
}

#header a {
    color: #bdc3c7;
    text-decoration: none;
}

#header a:visited{
    color: #bdc3c7;
}

